

/*///////////////////
 CONSTRUCTION 2 CSS
 ////////////////*/



/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* COLOR CSS 1*/
/*//////////////////////////////////////////////////////////////////////////////////////////*/


a,
.color-primary,
a.btn-read-more.btn,
.heading,
.copy a,
.entry-date__number,
.top-cart i,
.top-cart .icon-basket,
.ui-title-block,
.header-cart .icon,
.header_mod-b .yamm .nav > li > a:hover,
.staff__categories,
.list-widget .list-widget__item:hover:before,
.post .entry-footer .icon,
.list-mark > li:before,
.list-mark_mod-a > li:before,
.list-mark_mod-b > li:hover:before {
	color:#1d2f97;
}


.bg-primary,
.btn-primary,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.yamm,
.header_mod-a.sticky .yamm,
.border-decor,
.accordion .panel-heading .btn-collapse,
.btn-effect:after,
.decor-border,
.title-w-bg__inner,
.title-w-bg__inner:after,
.list-progress__item:after,
.carousel_mod-a.owl-theme .owl-buttons:after,
.download-link,
.filter-isotope_mod-a .filter-isotope__item:hover,
.filter-isotope_mod-a .filter-isotope__item.current,
.filter-isotope__item:hover:before,
.filter-isotope__item.current:before,
.pagination > .active > a,
.pagination > .active > span,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.flex-direction-nav a:hover {
	background-color: #1d2f97;
}


.btn-primary,
.btn-transparent,
.carousel-1,
.btn_mod-a,
.accordion .panel-heading .btn-collapse,
.featured-item-simple-icon::after,
.footer__title:after,
.header_mod-a .yamm .nav > li > a:hover,
.header_mod-b .yamm .nav > li > a:hover,
.isotope__item .btn,
.filter-isotope_mod-a .filter-isotope__item:hover,
.filter-isotope_mod-a .filter-isotope__item.current,
.isotope-item .btn,
.cart-project,
.pagination > .active > a,
.pagination > .active > span,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.flex-direction-nav a:hover {
	border-color: #1d2f97;
}

.list-mark_mod-a li:hover,
.list-mark_mod-a li.list-mark-active,
.cart-project:after,
.post blockquote {
	border-left-color: #1d2f97;
}

.border-top,
.cart-project:before {
	border-top-color: #1d2f97;
}

.cart-project:before {
	border-right-color: #1d2f97;
}

.cart-project:after {
	border-bottom-color: #1d2f97;
}



@media (max-width:767px) {
	.header_mod-b .yamm {
		background-color: #1d2f97;
	}
}
