

/*======= SECTION =======*/

.bg-parallax {
	overflow: hidden;
	position: relative;
	background-color: inherit;
}

.section-area {
	position: relative;
}
.section-default {
	padding-top: 85px;
	padding-bottom: 85px;
}

.section-bg-1 {
	background-color: #F4F4F4;
}
.section-bg-2 {
	background-color: #333;
}
.section-bg-3 {
	background-color: #222;
}

.section-title {
	background: url("../img/banner-sobre.jpg");
	background-size: cover;
}

.section-bg {
	position: relative;
	margin-top: -13px;
	padding: 103px 0 77px;
}
.section-bg:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	background-color: rgba(0, 0, 0, 0.7);
}

.section__inner {
	position: relative;
	z-index: 10;
}

.section_mod-a {
	padding-top: 85px;
	padding-bottom: 40px;
}
.section_mod-b {
	margin-top: 120px;
	margin-bottom: 65px;
}
.section_mod-c {
	margin-top: 40px;
}
.section_mod-d {
	padding-bottom: 85px;
}
.section_mod-e {
	padding-top: 85px;
	padding-bottom: 70px;
}
.section_mod-f {
	padding-top: 85px;
}
.section_mod-g {
	padding-bottom: 60px;
}
.section_mod-h {
	padding-bottom: 45px;
}

.section-banner {
	padding: 29px 20px 27px;
}
.section-map {
}
.section-reply-form {
	border-top: 1px solid #eee;
	padding-top: 72px;
	margin-bottom: 20px;
}
